{% extends "base.html" %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block title %} | Map{% endblock %}

{% block head %}
{{map.header.render|safe}}
{% endblock %}

{% block content %}
<h1>
        <div class= "bg-primary text-white">
        <em>Your Roadfood Visits</em>
        </div>
</h1>

  {{map.html.render|safe}}
  <script>
    {{map.script.render|safe}}
  </script>
{% endblock %}